html {
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  border: 25px solid antiquewhite;
  overflow: hidden;
}

li {
  list-style-type: none;
}

h1 {
  margin: 0;
  background-color: bisque;
  text-align: center;
}

h2 {
  margin: 0;
  font-style: italic;
}

input {
  border: 2px solid black;
}

button {
  width: fit-content;
  padding: 5px;
  box-shadow: 2px 2px 2px gray;
  background-color: rgb(54, 54, 226);
  color: white;
  border: none;
  border-radius: 3px;
}

button:hover {
  background-color: aqua;
  color: black;
}

.window {
  width: fit-content;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container {
  display: flex;
  background-color: antiquewhite;
}

.left-sec {
  margin: 10px 20px;
  border-right: 1px solid black;
  padding-right: 40px;
}

.left-sec div {
  display: flex;
}

.left-sec button {
  margin-left: 20px;
}

.left-sec ul {
  border: 2px solid black;
  padding: 0;
}

.left-sec li p {
  margin: 0;
  font-weight: 700;
}

.left-sec li {
  padding: 5px;
}

.left-sec li:nth-child(even) {
  background-color: rgb(254, 218, 170);
}

.right-sec {
  margin: 10px 20px;
}

.right-sec * {
  margin-bottom: 15px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form button {
  margin-right: 0;
  margin-left: auto;
}
